h1 {
    color: #08ce4d;
    font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    color: #12843a;
    font-family: 'Trebuchet MS', sans-serif;
}

ul {
    color: #0773ad;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Georgia', serif;
    font-size: 16px;
    font-style: italic;
    margin: 12px;
}

ol {
    font-family: 'Tahoma', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

body {
    background-color: #eaddab;
    margin: 20px;
    font-family: Arial, sans-serif;
}

img {
    border: 2px solid #000;
    border-radius: 0px;
    margin: 10px;
}

.image-container {
    display: flex;
    gap: 0px;
    align-items: baseline;
}
